.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 500px;
  height: 500px;
  border: 1px solid rgb(99, 168, 170);
  border-radius: 50px 0 50px 0;
  background-color: honeydew;
}
.description {
  color: darkcyan;
}
.randomNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.result {
  color: red;
}
.minAndMax {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  color: red;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(99, 168, 170);
}
.button {
  padding: 20px 40px;
  margin-top: 30px;
  background-color: darkcyan;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
